<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/app.js" defer></script>
</head>

<body>

<div class="auth-container">

    <div class="auth-card">

        <h1>Login</h1>

        <form action="/" method="POST">

            <label>Username</label>
            <input 
                type="text" 
                name="username"
                required
            >


            <label>Password</label>
            <input 
                type="password" 
                name="password"
                required
            >


            <button type="submit">
                Login
            </button>

        </form>


        <a href="/register">
            Create an account
        </a>

        {% if error %}
            <p class="error-message">
                {{ error }}
            </p>
        {% endif %}

    </div>

</div>

</body>

</html>