<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
</head>


<body>

<div class="auth-container">

    <div class="auth-card">

        <h1>Register</h1>

        <form action="/register" method="POST">

            <label>Username:</label>
            <input 
                type="text" 
                name="username"
                required
            >


            <label>Password:</label>
            <input 
                type="password" 
                name="password"
                required
            >


            <button type="submit">
                Register
            </button>


            {% if error %}
                <p class="error-message">
                    {{ error }}
                </p>
            {% endif %}

        </form>


        <a href="/">
            Login
        </a>

    </div>

</div>

</body>
</html>